body {
    margin: 0;
    padding-bottom: 120px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #eef5e9, #f5f5dc);
    color: #2f3e2f;
    text-align: center;
}

.card, .chatbox {
    background: white;
    margin: 30px auto;
    padding: 25px;
    width: 360px;
    border-radius: 25px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

label {
    display: block;
    margin-top: 12px;
}

select, input {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: linear-gradient(45deg, #6b8e23, #4f6f52);
    color: white;
    border: none;
    border-radius: 12px;
}

.bar {
    height: 10px;
    background: #ddd;
    border-radius: 10px;
    margin-top: 10px;
}

#progress {
    height: 100%;
    width: 0%;
    border-radius: 10px;
}

.popup {
    display: none;
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    background: #4f6f52;
    color: white;
    padding: 15px;
    border-radius: 12px;
}

.loader {
    display: none;
    margin-top: 20px;
}

canvas {
    margin: 30px auto;
    display: block;
    max-width: 350px;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.dark {
    background: #1c1c1c;
    color: white;
}

.dark .card,
.dark .chatbox {
    background: #2c2c2c;
}

#botReply {
    white-space: pre-line;
    text-align: left;
    margin-top: 10px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #4f6f52;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    letter-spacing: 1px;
}
